lxml~=4.6.3
bs4~=0.0.1
beautifulsoup4~=4.9.3
soupsieve~=2.2.1
pip~=21.2.4
greenlet~=1.1.1
certifi~=2021.5.30
urllib3~=1.26.6
idna~=3.2
chardet~=4.0.0
setuptools~=60.2.0
requests~=2.26.0
cchardet~=2.1.7
aiohttp~=3.8.3